
.login-wrap{
	margin:0;
	width:100%;
	height:100%;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
    position: absolute;
    z-index: 1;
    backdrop-filter: blur(4px);
    visibility: hidden;
    opacity: 0;
    transition: 1s;
}
.login-html{
	width:100%;
	height:100%;
	position:absolute;
	padding:90px 70px 50px 70px;
	background:rgba(40, 57, 101, 0.699);
}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	transform:rotateY(180deg);
	backface-visibility:hidden;
	transition:all .4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
	display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
}
.login-html .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
	color:#fff;
	border-color:#1161ee;
}
.login-form{
	min-height:345px;
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
}
.login-form .group{
	margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
	width:100%;
	color:#fff;
	display:block;
}
.login-form .group .input,
.login-form .group .button{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255,255,255,.1);
}
.login-form .group input[data-type="password"]{
	text-security:circle;
	-webkit-text-security:circle;
}
.login-form .group .label{
	color:rgba(29, 27, 27, 0.795);
	font-size:12px;
}
.login-form .group .button{
	transition: .5s;
	background:#1161ee;
}
.login-form .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
	top:6px;
	right:0;
	transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
	color:#fff;
}
.login-form .group .check:checked + label .icon{
	background:#1161ee;
}
.login-form .group .check:checked + label .icon:before{
	transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
	transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
	transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
	transform:rotate(0);
}
.hr{
	height:2px;
	margin:60px 0 20px 0;
	background:rgba(255,255,255,.2);
}
.foot-lnk{
	text-align:center;
}


.register_label{
	color: rgba(29, 27, 27, 0.795);
}
.register_label:hover {
	color: white;
	cursor: pointer;
}
.icon_text:hover{
	color: white;
	cursor: pointer;
}
.icon{
	margin-right: 5px;
}

.fade-in{
    opacity: 1;
    transition: 1s;
}

.fade-out {
    opacity: 0.5;
    transition: 2s;
}

.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
  z-index: 2;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: rgb(0, 0, 0);
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

@keyframes shake{
	0%{-webkit-transform:translate(0px, 0px)}
	10%{-webkit-transform:translate(20px, 0px)}
	20%{-webkit-transform:translate(0px, 0px)}
	30%{-webkit-transform:translate(20px, 0px)}
	40%{-webkit-transform:translate(0px, 0px)}
	50%{-webkit-transform:translate(20px, 0px)}
	60%{-webkit-transform:translate(0px, 0px)}
	70%{-webkit-transform:translate(20px, 0px)}
	80%{-webkit-transform:translate(0px, 0px)}
	90%{-webkit-transform:translate(20px, 0px)}
	100%{-webkit-transform:translate(0px, 0px)}
}

.shake-enabled {
	animation: shake .5s 1;
	transition-duration: .3s;
	background-color: red !important;
}

.error_input {
	transition-duration: .1s;
	background-color: rgba(255, 0, 0, 0.425) !important;
}
.error_label {
	transition-duration: .5s;
	color: red !important;
}

.login-form input {
	height: 1.2cm !important;
}

.error_login {
	animation: shake .5s 1;
	transition-duration: .3s;
	background-color: red !important;
}