<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Font Awesome -->
    <link
        rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.11.2/css/all.css"
    />
    <!-- Google Fonts Roboto -->
    <link
        rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
    />
    <!-- MDB -->
    <link rel="stylesheet" href="/css/mdb.min.css" />
    <!-- MDB -->
    <script
    type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.1.0/mdb.min.js"
    ></script>
    <link href="/css/addProduct.css" rel="stylesheet">
    <title>{{title}}</title>
</head>
<body style="text-align: center;">
    <div class="navbar_api"></div>
    <h1>Añadir un nuevo producto</h1>
    <div class="container">
        <form id="myForm" class="bg-white rounded shadow-5-strong p-5">
            <!-- 2 column grid layout with text inputs for the first and last names -->
            <div class="row mb-4">
                <div class="col">
                    <div class="form-outline">
                        <input type="text" id="full_title_input" name="full_title" class="form-control" required />
                        <label class="form-label" for="full_title_input">Nombre del producto</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-outline">
                        <input type="text" id="title_input" name="title" class="form-control" required />
                        <label class="form-label" for="title_input">Marca del producto</label>
                    </div>
                </div>
            </div>

            <!-- Number input -->
            <div class="form-outline mb-4">
                <input type="number" min="0.1" max="999.99" step="0.01" id="price_input" name="price" class="form-control" required />
                <label class="form-label" for="price_input">Precio</label>
            </div>

            <!-- Number input -->
            <div class="form-outline mb-4">
                <input type="number" min="1" max="999" id="stock_input" name="stock" class="form-control" required />
                <label class="form-label" for="stock_input">Stock</label>
            </div>

            <!-- Text input -->
            <div class="form-outline mb-4">
                <input type="url" id="thumbnail_input" name="thumbnail" class="form-control" required />
                <label class="form-label" for="thumbnail_input">Imagen</label>
            </div>

            <!-- Description input -->
            <div class="form-outline mb-4" style="margin-bottom: 3.5rem !important;">
                <textarea class="form-control" id="description_area" name="description" rows="4" style="max-height: 150px; min-height: 50px;" required></textarea>
                <label class="form-label" for="description_area">Descripción</label>
            </div>

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4" style="margin-bottom: 0px !important;">Agregar producto al catálogo</button>
        </form>
    </div>
    <script type="text/javascript" src="/js/mdb.min.js"></script>
    <script src="/js/addPorduct.js"></script>
</body>
</html>