<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{#if err}}
        <link rel="stylesheet" href="css/login_error.css">
    {{else}}
        <link rel="stylesheet" href="css/register_error.css">
    {{/if}}
    <title>Document</title>
</head>
<body>
    {{#if err}}
    <div>
        <aside><img src="https://png.pngtree.com/png-vector/20190115/ourlarge/pngtree-sad-depressed-and-sad-emoticon-with-tear-on-face-png-image_317660.jpg" alt="404 Image" />
        </aside>
        <main>
            <h1>¡Ups!</h1>
            <p>
            Parece que no se pudo iniciar la sesión <em>. . . asegurese de ingresar correctamente sus credenciales.</em>
            </p>
            <a href="/"><button>¡Aún no me rindo!</button></a>
        </main>
    </div>
    {{else}}
    <div class="wrapper">
    <h1>Hmm...</h1>
    <p>Al parecer se generó un error al intentar reistrarte, intenta probar con otro email o nombre de usuario.</p>
    <div class="buttons">
        <a href="/">Dejame Intenarlo una vez más</a>
    </div>
    </div>
    <div class="space">
    <div class="blackhole"></div>
    <div class="ship"></div>
    </div>
    {{/if}}
</body>
</html>