.tittle_chat {
    text-align: center;
    color: white;
}

.card-bordered {
    border: 1px solid #ebebeb;
}

#thumbnail-picture {
    border-radius: 10px;
}

.card {
border: 0;
border-radius: 0px;
margin-bottom: 30px;
-webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.03);
box-shadow: 0 2px 3px rgba(0,0,0,0.03);
-webkit-transition: .5s;
transition: .5s;
border-radius: 10px;
}

.padding {
padding: 3rem !important
}

body {
background-color: #f9f9fa
}

.card-header:first-child {
border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}


.card-header {
display: -webkit-box;
display: flex;
-webkit-box-pack: justify;
justify-content: space-between;
-webkit-box-align: center;
align-items: center;
padding: 15px 20px;
background-color: transparent;
border-bottom: 1px solid rgba(77,82,89,0.07);
background-color: rgb(0, 140, 255);
}

.card-header>*:last-child {
margin-right: 0;
}

.card-header>* {
margin-left: 8px;
margin-right: 8px;
}

.btn-secondary {
color: #4d5259 !important;
background-color: #e4e7ea;
border-color: #e4e7ea;
color: #fff;
}

.btn-xs {
font-size: 11px;
padding: 2px 8px;
line-height: 18px;
}
.btn-xs:hover{
color:#fff !important;
}

.media {
padding: 16px 12px;
-webkit-transition: background-color .2s linear;
transition: background-color .2s linear;
}

.media-body {
min-width: 0;
}

.media>* {
margin: 0 8px;
}

.media-meta-day {
-webkit-box-pack: justify;
justify-content: space-between;
-webkit-box-align: center;
align-items: center;
margin-bottom: 0;
color: #8b95a5;
opacity: .8;
font-weight: 400;
}

.media {
padding: 16px 12px;
-webkit-transition: background-color .2s linear;
transition: background-color .2s linear;
}

.media-meta-day::before {
margin-right: 16px;
}

.media-meta-day::before, .media-meta-day::after {
content: '';
-webkit-box-flex: 1;
flex: 1 1;
border-top: 1px solid #ebebeb;
}

.media-meta-day::after {
content: '';
-webkit-box-flex: 1;
flex: 1 1;
border-top: 1px solid #ebebeb;
}

.media-meta-day::after {
margin-left: 16px;
}


.media {
padding: 16px 12px;
-webkit-transition: background-color .2s linear;
transition: background-color .2s linear;
}


.border-light {
border-color: #f1f2f3 !important;
}

.bt-1 {
border-top: 1px solid #ebebeb !important;
}

button, input, optgroup, select, textarea {
font-family: Roboto,sans-serif;
font-weight: 300;
}

.file-group {
position: relative;
overflow: hidden;
} 

.file-group input[type="file"] {
position: absolute;
opacity: 0;
z-index: -1; 
width: 20px;
}

.text-info {
color: #48b0f7 !important;
}

.fa-paper-plane {
height: 20px;
width: 20px;
}

.tittle_footer {
    text-align: center;
}

.social {
    width: 7cm;
}

.socials_group {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1cm;
    margin-top: 1cm;
}

.social {
    height: 50px;
    border-radius: 5px;
}