<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/register.css">
    <title>Document</title>
</head>
<body>
<div class="login-wrap">
	<div class="login-html">
		<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Registro</label>
		<div class="login-form">
			<div class="sign-in-htm">
				<div class="group">
					<label for="email" class="label">Email</label>
					<input id="email" name="email" type="text" class="input">
				</div>
				<div class="group">
					<label for="name" class="label">Nombre</label>
					<input id="name" name="name" type="text" class="input">
				</div>
				<div class="group">
					<label for="last_name" class="label">Apellido</label>
					<input id="last_name" name="last_name" type="text" class="input">
				</div>
                <div class="group">
					<label for="age" class="label">Edad</label>
					<input id="age" name="age" type="number" min="10" max="100" class="input">
				</div>
                <div class="group">
					<label for="nickname" class="label">Nombre de usuario</label>
					<input id="nickname" name="nickname" type="text" class="input">
				</div>
                <div class="group">
					<label for="avatar" class="label">Imagen de perfil</label>
					<input id="avatar" name="avatar" type="url" class="input">
				</div>
                 <div class="group">
					<input type="submit" class="button" value="Registrar">
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>