<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form class="sign-in-htm" id="login_form" method="POST" action="http://localhost:8080/login">
        <div class="group">
        <label for="username_login" class="label">Usuario</label>
        <input type="text" class="input" name="username" id="username_login">
        </div>
        <div class="group">
        <label for="password_login" class="label">Contraseña</label>
        <input id="password_login" type="password" name="password" class="input" data-type="password">
        </div>
        <div class="group">
        <input type="submit" class="button" id="btn-login" value="Iniciar Sesión">
        </div>
    </form>
</body>
</html>